SATPROF_CONFIG=/etc/satprof/config.yaml
PYTHONUNBUFFERED=1
PYTHONHASHSEED=0
OMP_NUM_THREADS=2
OPENBLAS_NUM_THREADS=2
MKL_NUM_THREADS=2
# SATPROF_WIS2_USERNAME=everyone
# SATPROF_WIS2_PASSWORD=everyone
